@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
}

@layer components {
  .heroButton {
    @apply px-6 py-2 rounded-full uppercase text-xs tracking-widest font-semibold text-grey transition-all hover:ring-1 ring-siteYellow/40  hover:text-siteYellow/40 ;

  } 

.contactInput {
  @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424] text-grey placeholder-grey transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
}


}

@layer base {
  html {
      -webkit-tap-highlight-color: transparent;
      scroll-behavior: smooth;
  }

  p {
    @apply text-xs md:text-base leading-normal
  }
  
}


